{% extends "base.html" %}

{% block content %}
<h1>Welcome to Our Booking Site</h1>

  <ul>
    <li><a href="{% url 'booking:home' %}">Home</a></li>
    <li><a href="{% url 'booking:schedule' %}">Book an Appointment</a></li>
    <li><a href="{% url 'booking:appointments' %}">View All Appointments</a></li>
    <li><a href="{% url 'booking:shop_register' %}">Shop Register</a></li>
    <li><a href="http://127.0.0.1:8000/shops/login/">Shop Login</a></li>
    <li><a href="http://127.0.0.1:8000/admin">admin page</a></li>
    <p>user: admin
      pass: admin123
    </p>
  </ul>

{% endblock %}
